- pipeline = @build.pipeline

.content-block.build-header.top-area
  .header-content
    = render 'ci/status/badge', status: @build.detailed_status(current_user), link: false, title: @build.status_title
    流水线
    = link_to pipeline_path(pipeline) do
      %strong ##{pipeline.id}
    的作业
    %strong.js-build-id ##{@build.id}
    来自
    = link_to namespace_project_commits_path(@project.namespace, @project, @build.ref) do
      %code
        = @build.ref
    的提交
    = link_to namespace_project_commit_path(@project.namespace, @project, pipeline.sha) do
      %strong= pipeline.short_sha
    - if @build.user
      由
      = render "user"
    于
    = time_ago_with_tooltip(@build.created_at)
  .nav-controls
    - if can?(current_user, :create_issue, @project) && @build.failed?
      = link_to "新建问题", new_namespace_project_issue_path(@project.namespace, @project, issue: build_failed_issue_options), class: 'btn btn-new btn-inverted'
    - if can?(current_user, :update_build, @build) && @build.retryable?
      = link_to "重试作业", retry_namespace_project_build_path(@project.namespace, @project, @build), class: 'btn btn-inverted-secondary', method: :post
  %button.btn.btn-default.pull-right.visible-xs-block.visible-sm-block.build-gutter-toggle.js-sidebar-build-toggle{ role: "button", type: "button" }
    = icon('angle-double-left')
