- expanded = discussion.expanded?
%li.note.note-discussion.timeline-entry
  .timeline-entry-inner
    .timeline-icon
      = link_to user_path(discussion.author) do
        = image_tag avatar_icon(discussion.author), class: "avatar s40"
    .timeline-content
      .discussion.js-toggle-container{ data: { discussion_id: discussion.id } }
        .discussion-header
          .discussion-actions
            %button.note-action-button.discussion-toggle-button.js-toggle-button{ type: "button" }
              - if expanded
                = icon("chevron-up")
              - else
                = icon("chevron-down")
              切换讨论
          = link_to_member(@project, discussion.author, avatar: false)

          .inline.discussion-headline-light
            = discussion.author.to_reference
            在

            - if discussion.for_commit? && @noteable != discussion.noteable
              - commit = discussion.noteable
              - if commit
                提交
                - anchor = discussion.line_code if discussion.diff_discussion?
                = link_to commit.short_id, namespace_project_commit_path(discussion.project.namespace, discussion.project, discussion.noteable, anchor: anchor), class: 'monospace'
              - else
                已删除的提交
            - elsif discussion.diff_discussion?
              - if discussion.active?
                = link_to '差异', discussion_diff_path(discussion)
              - else
                已过期的差异
            上进行讨论
            = time_ago_with_tooltip(discussion.created_at, placement: "bottom", html_class: "note-created-ago")
          = render "discussions/headline", discussion: discussion

        .discussion-body.js-toggle-content{ class: ("hide" unless expanded) }
          - if discussion.diff_discussion? && discussion.diff_file
            = render "discussions/diff_with_notes", discussion: discussion
          - else
            .panel.panel-default
              = render "discussions/notes", discussion: discussion
