- @no_container = true
- page_title "运行环境指标", @environment.name
- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('common_d3')
  = page_specific_javascript_bundle_tag('monitoring')
= render "projects/pipelines/head"

.prometheus-container{ class: container_class, 'data-has-metrics': "#{@environment.has_metrics?}" }
  .top-area
    .row
      .col-sm-6
        %h3.page-title
          运行环境：
          = link_to @environment.name, environment_path(@environment)

      .col-sm-6
        .nav-controls
          = render 'projects/deployments/actions', deployment: @environment.last_deployment
  .prometheus-state
    .js-getting-started.hidden
      .row
        .col-md-4.col-md-offset-4.state-svg
          = render "shared/empty_states/monitoring/getting_started.svg"
      .row
        .col-md-6.col-md-offset-3
          %h4.text-center.state-title
            开始使用性能监控
      .row
        .col-md-6.col-md-offset-3
          .description-text.text-center.state-description
            通过配置 Prometheus 来监控您的部署，保持对您的环境的性能和运行状况的更新。
            = link_to help_page_path('administration/monitoring/prometheus/index.md') do
              了解有关性能监控的更多信息
      .row.state-button-section
        .col-md-4.col-md-offset-4.text-center.state-button
          = link_to edit_namespace_project_service_path(@project.namespace, @project, 'prometheus'), class: 'btn btn-success' do
            配置 Prometheus
    .js-loading.hidden
      .row
        .col-md-4.col-md-offset-4.state-svg
          = render "shared/empty_states/monitoring/loading.svg"
      .row
        .col-md-6.col-md-offset-3
          %h4.text-center.state-title
            等待性能数据
      .row
        .col-md-6.col-md-offset-3
          .description-text.text-center.state-description
            使用来自 Prometheus 服务器的数据创建图表。如果该操作耗时很长，请确保数据是有效的。
      .row.state-button-section
        .col-md-4.col-md-offset-4.text-center.state-button
          = link_to help_page_path('administration/monitoring/prometheus/index.md'), class: 'btn btn-success' do
            查看文档
    .js-unable-to-connect.hidden
      .row
        .col-md-4.col-md-offset-4.state-svg
          = render "shared/empty_states/monitoring/unable_to_connect.svg"
      .row
        .col-md-6.col-md-offset-3
          %h4.text-center.state-title
            无法连接到 Prometheus 服务器
      .row
        .col-md-6.col-md-offset-3
          .description-text.text-center.state-description
            确保从 GitLab 服务器到
            = link_to edit_namespace_project_service_path(@project.namespace, @project, 'prometheus') do
              Prometheus 服务器的连接的有效性。
      .row.state-button-section
        .col-md-4.col-md-offset-4.text-center.state-button
          = link_to help_page_path('administration/monitoring/prometheus/index.md'), class:'btn btn-success' do
            查看文档

  .prometheus-graphs
    .row
      .col-sm-12
        %h4
          CPU 利用率
        %svg.prometheus-graph{ 'graph-type' => 'cpu_values' }
    .row
      .col-sm-12
        %h4
          内存使用情况
        %svg.prometheus-graph{ 'graph-type' => 'memory_values' }
