你好，<%= @user.name %>!

管理员为你创建了一个账号。现在你已是公司 GitLab 应用的成员了。

登录.................. <%= @user.email %>
<% if @user.created_by_id %>
  <%= link_to "点击设置你的密码", edit_password_url(@user, :reset_password_token => @token) %>

  <%= reset_token_expire_message %>
<% end %>
